canvas {
   border: 1px solid black;
}

#dest {
    position: relative;
    width: 400px;
    height: 300px;
}

#tension {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    color: orange;
    font-size: 25px;
}
